<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Go to main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>01.04.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, praesentium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, praesentium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, praesentium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, praesentium.</p>
  </div>
</div>
